@import 'shared/fonts.css';
@import 'shared/variables.css';

:root{
    font-family: 'Apple Garamond';
    font-size: 30px;
    font-weight: light;
    color: var(--color-text-light);
}

body{
    background: linear-gradient(
        to right, var(--color-background-dark), 
        var(--color-background-light));
}

